.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1568px;
  margin: 0 auto;
}
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid rgb(212, 212, 212);
  background-color: var(--white);
}
.main {
  flex: 1;
}
